@font-face {
    font-family: LibreFranklin;
    src: url(fonts/LibreFranklin.ttf);
}

html, body {
    min-height: 100%;
    margin: 0;
    color: white;
}

body {
    background-color: #222831;
    font-family: LibreFranklin;
}

.tittle > h1 {
    font-size: 230%;
    padding: 0;
    position: absolute;
    top: 1%;
    left: 1%;
}

.circle {
    position: absolute;
    padding: 0;
    left: 31%;
    top: 12%;
}

.rectangle1 {
    position: absolute;
    padding: 0;
    left: 36%;
    top: 44%;
}

.rectangle2 {
    position: absolute;
    padding: 0;
    left: 51%;
    top: 44%;
}

.credit-card {
    position: absolute;
    padding: 0;
    left: 37%;
    top: 47.5%;
}

.credit-card > p2 {
    position: absolute;
    padding: 0;
    left: 130%;
    top: 15%;
    font-size: 140%;
}

.e-paraksts {
    position: absolute;
    padding: 0;
    left: 52%;
    top: 47.5%;
}

.e-paraksts > p3 {
    position: absolute;
    padding: 0;
    left: 150%;
    top: 15%;
    font-size: 140%;
    width: 300%;
}

.verify-tittle {
    position: absolute;
    padding: 0;
    left: 43%;
    top: 20%;
    font-size: 300%;
}